.nav-buttons {
  display: flex;
  margin: 16px;
}

.nav-buttons md-input {
  width: 190px;  
}

.nav-buttons button {
  height: 35px;
}

.recipe {
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.pictures {
  display: flex;
  flex-flow: row wrap;
  width: 200px;
  margin: 16px;
}
