<div class="nav-buttons">
	<button md-raised-button [routerLink]="['/']">Home</button>
	<button *ngIf="selectedRecipe && selectedRecipe.IsOwn" md-raised-button [routerLink]="['/recipe/edit/', selectedRecipe.Id]">Edit</button>
	<button *ngIf="selectedRecipe && selectedRecipe.IsOwn" md-raised-button [routerLink]="['/recipe/delete/', selectedRecipe.Id]">Delete</button>
</div>
<div *ngIf="selectedRecipe">
	<md-card class="recipe">
		<md-card-content>
			<h2>{{selectedRecipe.Name}}</h2>
			<h3>Ingredients</h3>
			<ul>
				<li *ngFor="let ingredient of selectedRecipe.Ingredients">
					{{ingredient.Quantity}}{{ingredient.QuantityName}} {{ingredient.Name}}
					<span *ngIf="ingredient.Condition">- {{ingredient.Condition}}</span>
				</li>
			</ul>
			<h3>Method</h3>
			<div [innerHTML]="selectedRecipe.Method"></div>
		</md-card-content>
	</md-card>
	<md-card *ngFor='let pic of selectedRecipe.Pictures' class="pictures">
		<md-card-content>
			<img md-card-image src="/assets/{{pic.Filename}}">
			<div>{{pic.Caption}}</div>
		</md-card-content>
	</md-card>
</div>