<div class="nav-buttons">
  <button md-raised-button [routerLink]="['Home']">Home</button>
  <button *ngIf="selectedRecipe" md-raised-button [routerLink]="['EditRecipe', {id: selectedRecipe.Id}]">Edit</button>
  <button *ngIf="selectedRecipe" md-raised-button [routerLink]="['DeleteRecipe', {id: selectedRecipe.Id}]">Delete</button>
</div>
<div *ngIf="selectedRecipe" class="recipe">
  <md-card>
    <div class="recipe">
      <div>
        <h2>{{selectedRecipe.Name}}</h2>
        <h3>Ingredients</h3>
        <ul>
          <li *ngFor="let ingredient of selectedRecipe.Ingredients">
            {{ingredient.Quantity}}{{ingredient.QuantityName}} {{ingredient.Name}} <span *ngIf="ingredient.Condition">- {{ingredient.Condition}}</span></li>
        </ul>
        <h3>Method</h3>
        <div [innerHTML]="selectedRecipe.Method"></div>
      </div>
    </div>
  </md-card>
</div>
<div *ngIf="selectedRecipe" class="recpictures">
  <section>
    <md-card *ngFor='let pic of selectedRecipe.Pictures'>
      <img md-card-image src="/assets/{{pic.Filename}}">
      <md-card-content>
        <md-card-title-text>{{pic.Caption}}</md-card-title-text>
      </md-card-content>
    </md-card>
  </section>
</div>